{% extends "layout.html" %}

{% block body %}
<h3 style="text-align:center;">Makaleler</h3>
<hr>
{% if articles %}
<form action="/search" method = "POST" style="text-align:center;">
    <input type="text" name = "keyword" class=" input-sm" maxlength="64" placeholder="Ara">
    <button type="submit" class="btn btn-danger">Ara</button>
<ul class="list-group">
</form>
<hr>

    {% for article in articles %}
        <li class="list-group-item"><a href="/article/{{article.id}}" style="color:black;">{{article.title}}</a></li>
    {% endfor %}


</ul>       
{% else %}
    <div class="alert alert-danger">Bu blogda henüz makale bulunmuyor.</div>
{% endif %}
{% endblock  %}