{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}

<h3 style = "text-align:center;">KAYIT OL</h3>
<hr>
<div class="jumbotron">
<form method="post">
    {{ render_field(form.name,class="form-control",placeholder = "Ad Soyad") }}
    {{ render_field(form.username,class="form-control",placeholder = "Kullanıcı Adı") }}
    {{ render_field(form.email,class="form-control",placeholder = "E-posta") }}
    {{ render_field(form.password,class="form-control",placeholder = "Parola") }}
    {{ render_field(form.confirm,class="form-control",placeholder = "Parola Doğrula") }}
    <br>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    <a href="/login">Hesabınız var mı? Giriş yapın...</a>

</form>
</div>


{% endblock  %}